<div class="container">
<div class="text-center">
    <a href="/ask/new" class="btn btn-primary">새 질문 등록하기</a>
</div>
<ul class="list-group">
    <li class="list-group-item"><%= @ask.question %>
    <small>(<%= @ask.ip_address %>, <%= @ask.region %>)</small>
    </li>
</ul>
</div>